.root {
   -fx-font-size: 1.5em;
   -fx-font-family: "Calibri";
   -fx-border-insets: 0 0 0 0;
   -fx-border-color: white white white white ;
   -fx-padding: 15px;
}

#word {
    -fx-font-size: 3em;
}

#root-pane {
   -fx-background-color: "#008080";
}